<div>
    <h2>{{Title}}</h2>
    {{#Articles}}
    <div>
        <h3><a href="/article/read?id={{Id}}&amp;category={{Category}}">{{Title}}</a></h3>
        <p>{{{Summary}}}</p>
    </div>
    {{/Articles}}
    <div class="paging">
        {{#Show_less}}<a type="button" class="btn btn-default" href="/article?start={{Less}}&amp;category={{Category}}">Less</a>{{/Show_less}}
        {{#Show_more}}<a type="button" class="btn btn-default pull-right" href="/article?start={{More}}&amp;category={{Category}}">More</a>{{/Show_more}}
    </div>
</div>