<div>
    <h2>{{title}}</h2>
    {{#articles}}
    <div>
        <h3><a href="/article/read?id={{Id}}&amp;category={{Category}}">{{Title}}</a> <small>{{Category}}</small></h3>
        <p>{{{Summary}}}</p>
    </div>
    {{/articles}}
    <div>
        {{#show_less}}<a type="button" class="btn btn-default" href="/article?start={{less}}">Less</a>{{/show_less}}
        {{#show_more}}<a type="button" class="btn btn-default pull-right" href="/article?start={{more}}">More</a>{{/show_more}}
    </div>
</div>