<div class="panel panel-default">
	<div class="panel-heading">{{title}}</div>
	<div class="panel-body">
		<form role="form">
			<div class="form-group">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">@</span>
					<input type="text" class="form-control" placeholder="Username">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group input-group-sm">
					<span class="input-group-addon">@</span>
					<input type="password" class="form-control" placeholder="Password">
				</div>
			</div>
			<div class="checkbox">
				<label>
					<input type="checkbox"> Remember Me
				</label>
			</div>
			<div class="form-group">
				<input class="btn btn-primary" type="submit" value="Login">
			</div>
		</form>
		<ul class="unstyled">
			<li><a href="">Create an account</a></li>
			<li><a href="">Forgot your username?</a></li>
			<li><a href="">Forgot your password?</a></li>
		</ul>
	</div>
</div>